<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

#  Data Science Tools and Ecosystem

In this Jupyter notebook, Data Science Tools and Ecosystem are summarised, this notebook is an assignment that is to be submitted.

There are many languages used in Data Science ,some of the popular ones that Data Scientist use are:
 1. JavaScript
 2. Julia
 3. R
 4. Python
 5. Scala

Some of the popularly libraries used by data Scientists include : 
1. seaborn
2. pandas
3. numpy
4. ggplot2

| Data Science Tools |
|------------------|
|Rstudio|
|JupyterLab|
|JupyterNotebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(1+5)

6

In [4]:
55+95+88-101-235

-98

In [ ]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

In [ ]:
#This will convert 200 minutes to hours by diving by 60
(200/60)